<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Yoga Express</title>
</head>
<body>
  <header>

    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/About">About</a>
        </li>
        <li>
          <a href="/history">History</a>
        </li>
        <li>
          <a href="/sequences">Sequences</a>
        </li>
        <li>
          <a href="/sequences/new">New Sequence</a>
        </li>
        <li>
          <a href="/poses">Poses</a>
        </li>
      </ul>
    </nav>

  </header>
  <main>
<<<<<<< HEAD
    <h1><strong>About <%= pose.name %></strong></h1>

    <p><%= pose.benefits %></p>
    <p><%= pose.description %></p>
    <p><img src="<%= pose.img %>" alt=""></p>
=======
    <h1>Pose Show Page</h1>

    <h4><strong>Title</strong>: <%= pose.name %></h4>
    <small>in sequence: <a href="/sequences/<%= sequence._id %>"><%= sequence.name %></a></small>

    <p><%= pose.benefits %></p>
    <p><%= pose.description %></p>
    <p><%= pose.img %></p>
>>>>>>> d5c3c9172d262a9bebeab5e90c15ba663db13355
  
  </main>
  
</body>
</html>

