<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Yoga Express</title>
</head>
<body>
    <h1>Mission Show page</h1>
        <!-- Nav Bar -->
       <!-- Nav Bar -->
       <nav>
            
        <a href="/mars">Index Page</a> 
        <a href="/mars/0">Curiosity</a>
        <a href="/mars/1">Opportunity</a>
        <a href="/mars/2">Spirit</a>
        <a href="/mars/3">Sojourner</a>
        <a href="/mars/4">Rosetta</a>
    
</nav>
        <!-- Name -->
        <p>
         <h4>Name:</h4>   <%= miss.name %>
        </p>

        <!-- Launchdate -->
        <p>
            <h4>Launch Date:</h4>    <%= miss.launchDate %>
        </p>

        <!-- Operator -->
        <p>
            <h4>Operator:</h4>   <%= miss.operator %>
        </p>

        <!-- Mission Type -->
        <p>
            <h4>Mission Type:</h4>  <%= miss.missionType %>
        </p>

        <!-- Img -->
        <p>
          <img src= "<%= miss.img %>"  alt="">  
        </p>
    </body>
</html>    